{% extends "base.html" %} {% load static %} {% block content %}
<!-- Sales Section -->

{% if sales %}
<section class="sales">
  <div class="container">
    <h2 class="section-title mt-2">Special Sales</h2>
    <div class="text-center">
      <img src="{% static 'img/sale.png' %}" alt="" />
    </div>
    <div class="row">
      {% for sale in sales %}
      <div class="col-md-4 mt-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ sale.title }}</h5>
            <p class="card-text">{{ sale.get_truncated_description }}...</p>
            <p class="card-text">Discount: {{ sale.discount_percentage }}%</p>
            <p class="card-text">
              Valid from {{ sale.start_date }} to {{ sale.end_date }}
            </p>
            <p class="card-text">
              <strong>Restaurant:</strong> {{ sale.restaurant.name }}
            </p>
            <a href="{% url 'sale_detail' sale.id %}" class="btn btn-primary"
              >View Details</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<!-- Featured Restaurants Section -->
<section class="featured-restaurants">
  <div class="container">
    <h2 class="section-title">Featured Restaurants</h2>
    <div class="row">
      {% for restaurant in featured_restaurants %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="{{ restaurant.image.url }}"
            alt="{{ restaurant.name }}"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">{{ restaurant.name }}</h5>
            <p class="card-text">{{ restaurant.description }}</p>
            <a
              href="{% url 'restaurant_detail' restaurant.id %}"
              class="btn btn-primary"
              >View Menu</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
